*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: montserrat;
}

body{
    /* background: var(--secondary-color); */
}

:root{
    --main-color: #4482cb;
    --secondary-color: #efeeea;
}

/* --- nav bar --- */
li, a{
    font-weight: 600px;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: var(--main-color);
}

.logo{
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

/* --- start hero section --- */

.row{
    display: flex;
}

.hero_container{
    max-width: 90%;
    margin: 0 auto;
}

.hero>*{
    flex: 1 1 25em;
}

.hero{
    gap: 2em;
    flex-wrap: wrap-reverse;
    align-items: center;
    min-height: calc(100vh - 93.6px);
}

.hero h1{
    font-weight: 700;
    font-size: clamp(40px, 5vw, 70px);
    line-height: 1;
}

.hero p{
    font-weight: 500;
    font-size: 30px;
    padding: 1em 0;
}

.container{
    min-height: 450px;
    border-bottom: 1px solid black;
}

